/***************************************************************
* Reset styles
*/


body,p,pre,h1,h2,h3,h4,h5,dl,dd,ul,fieldset,img {
	padding: 0;
	margin: 0;
	border:none;
}

ul {
	padding-left: 18px;
}

ul.x-tree-root-ct,
ul.x-tree-root-ct li ul
{
	padding-left:0px;
}
p,pre {
	padding-bottom: 15px;
}

h1, h2, h3, h4, h5, h6 {
	padding-bottom: 15px;
	xfont-weight: normal;
}

th {
	text-align: left;
	color:#C2081C;
}

a {
	cursor: pointer;
	color:#333333;
}

/***************************************************************
* Common styles
*/
.left {
	float: left;
	width: 50%;
}

.right {
	float: right;
	width: 50%;
}

.clear {
	display: inline-block;
}

.fltright
{
	float:right;
}

.clear:after {
	display: block;
	visibility: hidden;
	clear: both;
	height: 0;
	content: ".";
}

.button {
	-moz-border-radius-bottomleft:3px;
	-moz-border-radius-bottomright:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-topright:3px;
	-webkit-border-top-left-radius:3px;
	-webkit-border-top-right-radius:3px;
	-webkit-border-bottom-right-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-x-system-font:none;
	border:1px solid #CCCCCC;
	clear:both;
	color:#333333;
	font-family:Arial;
	font-size:14.5px;
	xfont-style:italic;
	font-variant:normal;
	font-weight:normal;
	line-height:normal;
	padding:8px 16px;
	background-color:#f0f0f0;
	display: block;
	text-decoration: none;
}

.button:hover {
	border:1px solid #555555;
}


/***************************************************************
* Site styles
*/

body{
	background-color:#efefef;
}

/***************************************************************
* Text styles
*/


body,p {
	font-family: Verdana;
	font-size: 11px;
	color: #333333;
	line-height: 1em;
}

P {
	line-height: 15px;
}

h1 {
	font-family:Helvetica,Arial,sans;
	font-size: 44px;
	font-weight: 400;
	line-height: 45px;
	xpadding-top:12px;
	margin-left:-2px;
}

h2 {
	font-size: 25px;
	xfont-weight: bold;
	line-height: 26px;
}

h3 {
	font-family:Helvetica,Arial,sans;
	font-weight: 400;
	font-size: 17px;
	line-height: 20px;
	padding-bottom:2px;
	color:#bbbbbb;
}

h4 {
	font-size: 15px;
	line-height: 16px;
}

h4 a {
	font-size: 15px;
	line-height: 16px;
	text-decoration: none;	
	color: #333333;
}

h5 {
	font-size: 12px;
	line-height: 13px;
	padding-bottom:0px;
	color: #C2081C;
}

.blue {
	font-weight: bold;
	color: #C2081C;
}

.grey {
	color: #333333;
}

b {
	color: #C2081C;
}

a.green 
{
	color:#b7ce40;
}

/***************************************************************
* Layout styles
*/
#popup {
	position: absolute;
	top: 100px;
	left: 271px;
	z-index: 100;
}

#overlay {
	position: absolute;
	top: 100px;
	left: 271px;
	z-index: 100;
}

#headerContainer {
	background: url(/core/images/backend/header_bg.png) 0 0 repeat-x;
}

#headerShade {
	background: url(/core/images/backend/header_shade.png) top center no-repeat;
}

#header {
	margin: 0px auto;
	position: relative;
	width: 994px;
	height: 145px;
	position: relative;
	color: #ffffff;
}

#header a {
	color: #ffffff;
}

#header a:hover {
	color:#b7ce40;
}

#header a.green 
{
	color:#b7ce40;
}

#header a.green:hover
{
	color: #ffffff;
}

#header-nav {
	position: absolute;
	top: 10px;
	right: 30px;
}

#header-logo {
	position: absolute;
	top: 0px;
	left: 0px;
}

#header-logo a {
	background: url(/images/logo_small.png) 0px 0px no-repeat;
	width: 306px;
	height: 90px;
	overflow: hidden;
	text-indent: 999px;
	display: block;
}

#header-search {
	background: url(/core/images/backend/header_search_bg.png) 0px 0px no-repeat;
	padding:7px 10px 0px 7px;
	position: absolute;
	top: 0px;
	right: 0px;
	width: 325px;
	height:41px;
}

#header-search input.text {
	background: url(/core/images/backend/header_search_input_bg.png) 0px 2px no-repeat;
	border: none;
	padding: 4px 0 5px 10px;
	width: 140px;
	display: block;
	float: left;
	color: #c2c2c2;
	font-size: 12px;
}

#header-search a.submit {
	background: url(/core/images/backend/header_search_input_bg.png) -150px 2px no-repeat;
	width: 24px;
	height: 24px;
	overflow: hidden;
	text-indent: 999px;
	display: block;
	float: left;
	padding-left: 5px;
}

#header-search a.submit:hover {
	background: url(/core/images/backend/header_search_input_bg.png) -148px 2px no-repeat;
}

#header a.advancedSearch {
	position: relative;
	top: 4px;
	left: 5px;
}

#header a.advancedSearch:hover {
	color:#cccccc;
}


#nav {
	display: table;
	xwidth: 994px;
    margin: 0px auto;
    padding-top:89px;
	height: 56px;
}

#nav ul {
	list-style: none;
	xbackground: url(/core/images/backend/nav_item_bg.gif) top left no-repeat;
	padding: 0;
	margin: 0;
	height: 56px;
}

#nav ul li {
	float: left;
	padding: 0;
	margin: 0;
}

#nav ul li a {
	position: relative;
	display: block;
	width: 159px;
	height: 56px;
	padding-top: 24px;
	text-decoration: none;
	text-align:center;
	font-family:Helvetica,Arial,sans;
	font-size:15px;
	overflow: hidden;
	line-height:15px;
}

#nav ul li a:hover {
	color:#cccccc;
}

#nav ul li a.selected {
	background: url(/core/images/backend/nav_bg.png) 0 0 no-repeat;
}

#nav ul li a div.over {
	position: absolute;
	top: 0;
	left: 0;
	background: url(/core/images/backend/nav_bg.png) 0 0 no-repeat;
	width: 158px;
	height: 56px;
}

#nav ul li a div.text {
	xfont-weight:bold;
	position: absolute;
	top: 24px;
	left:0;
	width: 159px;
	color: #ffffff;
	text-decoration: none;
	display: table-cell;
	vertical-align: text-bottom;
	text-align:center;
	font-family:Helvetica,Arial,sans;
	font-size:15px;
	line-height:15px;
}

#subnavContainer {
	position: relative;
	height: 32px;
	background-color: #c2081c;
	text-align:center;
}


#subnav {
	display: table;
	margin:0px auto;
	xwidth: 994px;
}

#subnav ul {
	list-style: none;
	padding: 0;
	margin: 0;
	height: 32px;
}

#subnav ul li {
	float: left;
	padding: 0;
	margin: 0;
	background: url(/core/images/backend/subnav_sep.png) top right no-repeat;
}

#subnav ul li.last {
	background:none;
}

#subnav ul li a {
	position: relative;
	display: block;
	height: 21px;
	text-decoration: none;
	padding:9px 0px 0 0px;
	font-family:Helvetica,Arial,sans;
	font-weight:bold;
	font-size:12px;
	color: #ffffff;
	margin-top:2px;
	margin-right:1px;
	width:100px;
	text-align: center;
}
#subnav ul li.last a {
	border-right:none;
}

#subnav ul li a:hover , #subnav ul li a.selected {
	background: url(/core/images/backend/subnav_selected.png) center -2px no-repeat;
	xbackground-color: #ffffff;
	color:#ffffff;
}

div#breadcrumb {
	clear: both;
	padding: 7px 0px 10px 12px;
	color:#333333;
	background-color: white;
}

div#breadcrumb a {
	color:#333333;
}

#contentContainer {
	margin: 0px auto;
	position: relative;
	width: 994px;
}

div#content {
	clear: both;
	min-height: 410px;
}

div#contentBg {
	background: url(/core/images/backend/content_bg.png) 0 0 no-repeat #ffffff;
	padding:20px 30px 30px 30px;
}

div#body {
	float: left;
	margin-bottom: 10px;
	width: 934px;
	min-height: 450px;
}

.bodyLeft {
	width: 462px;
	float:left;
	clear:both;
}

.toolbar {
	float: right;
	width: 462px
}


.bodyRight {
	float: right;
	width: 462px
}

.toolbar .button {
	float: right;
	display:table-cell;
	width: auto;
	clear:none;
	margin-left:5px;
}

.bodyButtons {
	float: right;
	width: 462px
}

.bodyButtons .button {
	float: right;
	clear:none;
}

.loginRegister {
	background: url(/core/images/backend/footer_login_create.gif) 0 0 no-repeat;
	font-weight: bold;
	width: 157px;
	height: 24px;
}

#footer {
	display:table;
	margin:0px auto;
	clear: both;
	height: 19px;
	padding-top: 16px;
	padding-bottom: 16px;
}

#footer .copy {
	float: left;
}

#footer ul {
	float: left;
	list-style: none;
	padding: 0 0 0 10px;
	margin: 0;
}

#footer ul li {
	float: left;
	padding: 0;
	margin: 0;
	padding-right: 10px;
}

#footer ul li a {
	color: #333333;
	text-decoration: none;
}

/***************************************************************
* Form styles
*/
textarea {
	width: 400px;
	height: 200px;
}

label.invalid {
	color: #ff0000;
}

.zend_form dd {
	padding-bottom: 7px;
}

.zend_form dt label {
	font-weight: bold;
}

.zend_form {
	display: inline-block;
	sbackground-color:#efefef;
	xpadding:20px;
	xborder-top: 4px solid #333333;
	xborder-bottom: 1px solid #333333;
	width:370px;
}

.zend_form:after {
	display: block;
	visibility: hidden;
	clear: both;
	height: 0;
	content: ".";
}

.zend_form dt {
	clear:both;
	padding:0;
	margin:0;
	padding-bottom:2px;
	xfilter:alpha(opacity=10);
	x-moz-opacity:0.1;
	x-khtml-opacity: 0.1;
	xopacity: 0.1;
	xbackground-color: #ffffff;
}

.zend_form dt label, .zend_form dd label {
	color:#333333;
}

.zend_form dt label {
	color:#333333;
	font-size: 11px;
	font-weight:normal;
	line-height: 18px;
}

.zend_form dd {
	clear:both;
	width:370px;
	padding:0;
	margin:0;
	padding-bottom:10px;
}


.zend_form dd textarea {
	width:400px;
	height:70px;
}

.zend_form input.text, .zend_form input.textSmall, .zend_form dd input.textMedium, .zend_form textarea  {
	-moz-border-radius-bottomleft:2px;
	-moz-border-radius-bottomright:2px;
	-moz-border-radius-topleft:2px;
	-moz-border-radius-topright:2px;
	-x-system-font:none;
	border:1px solid #CCCCCC;
	clear:both;
	color:#333333;
	font-family:Georgia;
	font-size:16px;
	font-size-adjust:none;
	font-stretch:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:normal;
	padding:8px 9px;
}

.zend_form dd input.text {
	width:400px;
}

.zend_form dd input.textMedium {
	width:100px;
}

.zend_form dd input.textSmall {
	width:50px;
}

.zend_form dd input.textTiny {
	width:30px;
}

.zend_form dd input.date {
	width:75px;
}

.zend_form dd input.checkbox {
}

.zend_form dd p.description {
	padding:4px 0 0 10px;
}

.zend_form input.submit  {
	-moz-border-radius-bottomleft:2px;
	-moz-border-radius-bottomright:2px;
	-moz-border-radius-topleft:2px;
	-moz-border-radius-topright:2px;
	-webkit-border-top-left-radius:2px;
	-webkit-border-top-right-radius:2px;
	-webkit-border-bottom-right-radius:2px;
	-webkit-border-bottom-left-radius:2px;
	-x-system-font:none;
	border:1px solid #CCCCCC;
	clear:both;
	color:#333333;
	font-family:Arial;
	font-size:14.5px;
	xfont-style:italic;
	font-variant:normal;
	font-weight:normal;
	line-height:normal;
	padding:8px 16px;
	background-color:#f0f0f0;
}

.zend_form input:focus, .zend_form textarea:focus {
	background-color:#efefef;
	border:1px solid #dddddd;
}

.zend_form dd input.textSmall {
	width:50px;
}

.zend_form dd input.checkbox {
}

.zend_form dd p.description {
	padding:4px 0 0 10px;
}

.zend_form dd p.invalid {
	color:red;
}


.zend_form dd span.description {
}


.zend_form .zend_form {
	display: inline-block;
	background: none;
	padding:0;
	margin-bottom:5px;
	border-bottom: 4px solid #5f9fe6;
}


fieldset {
border:none;
	border-bottom: 4px solid #5f9fe6;
	margin-bottom:5px;
}


/***************************************************************
* Other styles
*/
.arrow {
	background: url(/core/images/backend/arrow_l.gif) 0 0 no-repeat;
	padding-left: 15px;
}

.window {
	background-color: #ffffff;
	border: 1px solid #333333;
	padding: 5px;
}

table.list
{
	x-moz-border-radius-bottomleft:4px;
	x-moz-border-radius-bottomright:4px;
	x-moz-border-radius-topleft:4px;
	x-moz-border-radius-topright:4px;
	background-color:#FFFFFF;
	border-color:#dddddd;
	border-style:solid;
	border-width:4px 0px;	
}

table.list th
{
	padding:7px 0 7px 0;
	border-bottom:1px solid #dddddd;
}

table.list td {
	padding:5px 0 5px 0;
	border-top:1px solid #efefef;
	height:auto;
}

#popup
{
	width:450px;
	x-moz-border-radius-bottomleft:4px;
	x-moz-border-radius-bottomright:4px;
	x-moz-border-radius-topleft:4px;
	x-moz-border-radius-topright:4px;
	background-color:#FFFFFF;
	border-color:#dddddd;
	border-style:solid;
	border-width:4px 0px;
	padding:10px;
		
}



