body
{
	padding:0;
	margin:0;
	font-family:Verdana;
	font-size:11px;
}

#fileBrowser
{
	padding:10px 0 0 10px;
}

#fileListContainer
{
	padding:10px 0 0 0px;
}


#fileListContainer td
{
	vertical-align:middle;
}

.fileUploadThumbnail
{
	padding-right:10px;
}